<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/mui.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="js/mui.min.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/orderDetail.js"></script>
    <style type="text/css">
    	.order_goods td{
    		line-height: 40px;
    		border: solid 1px #eee;
    	}
    </style>
</head>
<body>
	<div id="main">
		<header>
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<span>订单详情</span>
		</header>
		<div class="h50"></div>
		<div class="order_status">
			<h1 v-if="status == 0">用户已下单</h1>
			<h1 v-if="status == 1">商家确认订单</h1>
			<h1 v-if="status == 2">商家取消订单</h1>
			<h1 v-if="status == 3">用户取消订单</h1>
			<h1 v-if="status == 4">派单中</h1>
			<h1 v-if="status == 5">已派给骑手</h1>
			<h1 v-if="status == 6">骑手接单 - 配送中</h1>
			<h1 v-if="status == 7">骑手确定送达</h1>
			<h1 v-if="status == 8">用户确认收货 - 未评价</h1>
			<h1 v-if="status == 9">商家取消订单</h1>
			<p>任何意见和吐槽，都欢迎联系我们</p>
		</div>
		<div class="order_goods">
			<div class="order_goods_store">
				<div class="order_goods_store_info">
					<img src="images/dada_icon.png" v-if="store_logo == ''" />
					<img v-bind:src="store_logo" v-if="store_logo != ''" />
					<p>{{store_name}}</p>
				</div>
				<div class="order_goods_store_tel">
					<a v-bind:href="'tel:' + store_phone">
						<i class="mui-icon mui-icon-phone"></i>
						<span>联系商家</span>
					</a>
				</div>
				<div class="clear"></div>
			</div>
			<table cellspacing="0" cellpadding="0" style="margin-top: 10px;">
				<template v-for="(value,key) in goods">
				<tr>
					<td style="padding-left: 10px;">{{value.goods_name}}</td>
					<td>x{{value.goods_number}}</td>
					<td style="padding-right: 10px;">￥{{value.goods_price}}</td>
				</tr>
				</template>
				<tr v-if="discounts_price > 0">
					<td style="color: red;padding-left: 10px;">优惠立减</td>
					<td></td>
					<td style="color: red;padding-right: 10px;">￥{{discounts_price}}</td>
				</tr>
				<tr>
					<td style="padding-left: 10px;">合计</td>
					<td></td>
					<td style="padding-right: 10px;">￥{{goods_price_real}}</td>
				</tr>
			</table>
		</div>
		<div class="order_info">
			<h1>配送信息</h1>
			<ul>
				<li>
					<label>收货人姓名</label>
					<p>{{order_name}}</p>
					<div class="clear"></div>
				</li>
				<li>
					<label>收货人电话</label>
					<p><a v-bind:href="'tel:' + order_telephone">{{order_telephone}}</a></p>
					<div class="clear"></div>
				</li>
				<li>
					<label>收货人地址</label>
					<p>{{order_address}}</p>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
		<div class="order_info">
			<h1>订单信息</h1>
			<ul>
				<li>
					<label>订单号</label>
					<p>{{order_sn}}</p>
					<div class="clear"></div>
				</li>
				<li v-if="note != ''">
					<label>备注</label>
					<p>{{note}}</p>
					<div class="clear"></div>
				</li>
				<li>
					<label>支付方式</label>
					<p v-if="pay_type == 1">微信支付</p>
					<p v-if="pay_type == 2">余额支付</p>
					<div class="clear"></div>
				</li>
				<li>
					<label>下单时间</label>
					<p>{{time}}</p>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
		<div style="width: 100%;height: 1px;"></div>
	</div>
</body>
</html>